.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 744px;
  }

  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1216px;
  }

  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
