:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */

  --color-dark-green: #1e2827;
  --color-black: #141414;
  --color-white: #ffffff;
  --color-copyrith: #C6CDD1;
}

@font-face {
  font-family: 'Epilogue';
  src: url('../fonts/Epilogue-Light.ttf') format('truetype');
}
