<section class="section catalog">
  <div class="container">
    <h2 id="catalog" class="catalog-title">Catalog</h2>
    <div class="catalog-wrapper">
      <div class="catalog-grid">
        <ul class="catalog-grid-list">
          <li class="catalog-grid-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-1@1x.webp 1x,
                  ./img/catalog/desk-cat-1@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-1@1x.jpg 1x,
                  ./img/catalog/desk-cat-1@2x.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-1@1x.webp 1x,
                  ./img/catalog/tab-cat-1@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-1@1x.jpg 1x,
                  ./img/catalog/tab-cat-1@2x.jpg 2x
                "
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/catalog/mob-cat-1@1x.webp 1x,
                  ./img/catalog/mob-cat-1@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(max-width: 767px)"
                srcset="./img/catalog/mob-cat-1@2x.jpg 2x"
              />

              <img
                src="./img/catalog/mob-cat-1@1x.jpg 1x"
                alt="visualization of a watch"
              />
            </picture>
            <p class="catalog-grid-item-name">
              Tube Watch S42 Date Steel With Black Case
            </p>
            <span class="catalog-grid-item-price">&#8364;395</span>
          </li>
          <li class="catalog-grid-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-2@1x.webp 1x,
                  ./img/catalog/desk-cat-2@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-2@1x.jpg 1x,
                  ./img/catalog/desk-cat-2@2x.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-2@1x.webp 1x,
                  ./img/catalog/tab-cat-2@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-2@1x.jpg 1x,
                  ./img/catalog/tab-cat-2@2x.jpg 2x
                "
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/catalog/mob-cat-2@1x.webp 1x,
                  ./img/catalog/mob-cat-2@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(max-width: 767px)"
                srcset="./img/catalog/mob-cat-2@2x.jpg 2x"
              />

              <img
                src="./img/catalog/mob-cat-2@1x.jpg 1x"
                alt="visualization of a watch"
              />
            </picture>
            <p class="catalog-grid-item-name">Avondale Watch Police For Men</p>
            <span class="catalog-grid-item-price">&#8364;800</span>
          </li>
          <li class="catalog-grid-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-3@1x.webp 1x,
                  ./img/catalog/desk-cat-3@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-3@1x.jpg 1x,
                  ./img/catalog/desk-cat-3@2x.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-3@1x.webp 1x,
                  ./img/catalog/tab-cat-3@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-3@1x.jpg 1x,
                  ./img/catalog/tab-cat-3@2x.jpg 2x
                "
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/catalog/mob-cat-3@1x.webp 1x,
                  ./img/catalog/mob-cat-3@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(max-width: 767px)"
                srcset="./img/catalog/mob-cat-3@2x.jpg 2x"
              />

              <img
                src="./img/catalog/mob-cat-3@1x.jpg 1x"
                alt="visualization of a watch"
              />
            </picture>
            <p class="catalog-grid-item-name">
              Diver 300M Co-Axial Master Chronometer Chronograph
            </p>
            <span class="catalog-grid-item-price">&#8364;600</span>
          </li>
          <li class="catalog-grid-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-4@1x.webp 1x,
                  ./img/catalog/desk-cat-4@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-4@1x.jpg 1x,
                  ./img/catalog/desk-cat-4@2x.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-4@1x.webp 1x,
                  ./img/catalog/tab-cat-4@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-4@1x.jpg 1x,
                  ./img/catalog/tab-cat-4@2x.jpg 2x
                "
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/catalog/mob-cat-4@1x.webp 1x,
                  ./img/catalog/mob-cat-4@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(max-width: 767px)"
                srcset="./img/catalog/mob-cat-4@2x.jpg 2x"
              />

              <img
                src="./img/catalog/mob-cat-4@1x.jpg 1x"
                alt="visualization of a watch"
              />
            </picture>
            <p class="catalog-grid-item-name">
              Diver 300M Co-Axial Master Chronometer
            </p>
            <span class="catalog-grid-item-price">&#8364;1400</span>
          </li>
          <li class="catalog-grid-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-5@1x.webp 1x,
                  ./img/catalog/desk-cat-5@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-5@1x.jpg 1x,
                  ./img/catalog/desk-cat-5@2x.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-5@1x.webp 1x,
                  ./img/catalog/tab-cat-5@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-5@1x.jpg 1x,
                  ./img/catalog/tab-cat-5@2x.jpg 2x
                "
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/catalog/mob-cat-5@1x.webp 1x,
                  ./img/catalog/mob-cat-5@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(max-width: 767px)"
                srcset="./img/catalog/mob-cat-5@2x.jpg 2x"
              />

              <img
                src="./img/catalog/mob-cat-5@1x.jpg 1x"
                alt="visualization of a watch"
              />
            </picture>
            <p class="catalog-grid-item-name">Taman Watch By Police For Men</p>
            <span class="catalog-grid-item-price">&#8364;500</span>
          </li>
          <li class="catalog-grid-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-6@1x.webp 1x,
                  ./img/catalog/desk-cat-6@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-6@1x.jpg 1x,
                  ./img/catalog/desk-cat-6@2x.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-6@1x.webp 1x,
                  ./img/catalog/tab-cat-6@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-6@1x.jpg 1x,
                  ./img/catalog/tab-cat-6@2x.jpg 2x
                "
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/catalog/mob-cat-6@1x.webp 1x,
                  ./img/catalog/mob-cat-6@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(max-width: 767px)"
                srcset="./img/catalog/mob-cat-6@2x.jpg 2x"
              />

              <img
                src="./img/catalog/mob-cat-6@1x.jpg 1x"
                alt="visualization of a watch"
              />
            </picture>
            <p class="catalog-grid-item-name">Malawi Watch Police For Men</p>
            <span class="catalog-grid-item-price">&#8364;555</span>
          </li>
          <li class="catalog-grid-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-7@1x.webp 1x,
                  ./img/catalog/desk-cat-7@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-7@1x.jpg 1x,
                  ./img/catalog/desk-cat-7@2x.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-7@1x.webp 1x,
                  ./img/catalog/tab-cat-7@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-7@1x.jpg 1x,
                  ./img/catalog/tab-cat-7@2x.jpg 2x
                "
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/catalog/mob-cat-7@1x.webp 1x,
                  ./img/catalog/mob-cat-7@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(max-width: 767px)"
                srcset="./img/catalog/mob-cat-7@2x.jpg 2x"
              />

              <img
                src="./img/catalog/mob-cat-7@1x.jpg 1x"
                alt="visualization of a watch"
              />
            </picture>
            <p class="catalog-grid-item-name">
              Diver 300M Co-Axial Master Chronometer
            </p>
            <span class="catalog-grid-item-price">&#8364;1200</span>
          </li>
          <li class="catalog-grid-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-8@1x.webp 1x,
                  ./img/catalog/desk-cat-8@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-8@1x.jpg 1x,
                  ./img/catalog/desk-cat-8@2x.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-8@1x.webp 1x,
                  ./img/catalog/tab-cat-8@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/tab-cat-8@1x.jpg 1x,
                  ./img/catalog/tab-cat-8@2x.jpg 2x
                "
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/catalog/mob-cat-8@1x.webp 1x,
                  ./img/catalog/mob-cat-8@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(max-width: 767px)"
                srcset="./img/catalog/mob-cat-8@2x.jpg 2x"
              />

              <img
                src="./img/catalog/mob-cat-8@1x.jpg 1x"
                alt="visualization of a watch"
              />
            </picture>
            <p class="catalog-grid-item-name">
              Greenlane Watch By Police For Men
            </p>
            <span class="catalog-grid-item-price">&#8364;1000</span>
          </li>

          <li class="catalog-grid-item desk-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-9@1x.webp 1x,
                  ./img/catalog/desk-cat-9@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="./img/catalog/desk-cat-9@2x.jpg 2x"
              />

              <img
                src="./img/catalog/desk-cat-9@1x.jpg 1x"
                alt="visualization of a watch"
              />
            </picture>
            <p class="catalog-grid-item-name">Squardrc 5402 Chrono</p>
            <span class="catalog-grid-item-price">&#8364;359</span>
          </li>
          <li class="catalog-grid-item desk-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-10@1x.webp 1x,
                  ./img/catalog/desk-cat-10@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="./img/catalog/desk-cat-10@2x.jpg 2x"
              />

              <img
                src="./img/catalog/desk-cat-10@1x.jpg 1x"
                alt="visualization of a watch"
              />
            </picture>
            <p class="catalog-grid-item-name">
              Diver 300M Co-Axial Master Chronometer Chronograph
            </p>
            <span class="catalog-grid-item-price">&#8364;400</span>
          </li>
          <li class="catalog-grid-item desk-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-11@1x.webp 1x,
                  ./img/catalog/desk-cat-11@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="./img/catalog/desk-cat-11@2x.jpg 2x"
              />

              <img
                src="./img/catalog/desk-cat-11@1x.jpg 1x"
                alt="visualization of a watch"
              />
            </picture>
            <p class="catalog-grid-item-name">Citizen</p>
            <span class="catalog-grid-item-price">&#8364;519</span>
          </li>
          <li class="catalog-grid-item desk-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/desk-cat-12@1x.webp 1x,
                  ./img/catalog/desk-cat-12@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="./img/catalog/desk-cat-12@2x.jpg 2x"
              />

              <img
                src="./img/catalog/desk-cat-12@1x.jpg 1x"
                alt="visualization of a watch"
              />
            </picture>
            <p class="catalog-grid-item-name">Armani Exchange</p>
            <span class="catalog-grid-item-price">&#8364;400</span>
          </li>
        </ul>
      </div>
      <button class="catalog-btn" type="button" data-modal-open>Buy now</button>
    </div>
  </div>
</section>
