<footer class="footer">
  <div class="container container-footer">
    <div class="contact-info">
      <nav class="logo">
        <a href="./index.html">
          <img
            class="logo-img"
            src="./img/logo-1.svg"
            alt="logo"
            width="40px"
            height="40px"
          />
        </a>
      </nav>
      <address>
        <ul>
          <li>
            <a class="text-contact" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="maps">
            <a
              class="text-contact addresss"
              href="https://www.google.com/maps/place/1678+Pioneer+Cir,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@59.1002607,-54.6157885,3z/data=!4m5!3m4!1s0x8752f4efb730059d:0x698f8e7cd01c552!8m2!3d40.7557235!4d-111.9195698"
              target="_blank"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="footer-navigation">
      <ul>
        <li class="nav-item"><a class="text-footer" href="#about">About us</a></li>
        <li class="nav-item"><a class="text-footer" href="#catalog">Catalog</a></li>
        <li class="nav-item"><a class="text-footer" href="#sale">Sale</a></li>
      </ul>
    </div>

    <div class="social-container">
      <ul class="social-link">
        <li class="social-item">
          <a href="https://www.facebook.com/" target="_blank">
            <svg class="social-svg" width="24" height="24">
              <use
                class="social-icon"
                href="./img/icons.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="https://www.instagram.com/" target="_blank">
            <svg class="social-svg" width="24" height="24">
              <use
                class="social-icon"
                href="./img/icons.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="https://www.youtube.com/" target="_blank">
            <svg class="social-svg" width="24" height="24">
              <use
                class="social-icon"
                href="./img/icons.svg#icon-youtube"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <!-- <div class="copyright"> -->
    <p class="text-copyright text-copy">
      &copy;2022 The Watch Spot. All rights reserved.
    </p>
    <p class="text-copyright text-cop">
      Privacy Policy <span class="span-text">Terms of Service</span>
    </p>

    <!-- </div> -->
  </div>
  <!-- <p>FOOTER</p> -->
</footer>
