<!--Header-->
<header class="header">
  <div class="header-container container">
    <nav class="navigation">

      <div class="logo-container">
        <a href="./index.html" class="header-logo">
          <img class="header-logo-img" src="../img/logo.svg" alt="company logo"
        /></a>
        <a class="company-name link" href="./index.html">thewatchspot</a>
      </div>

      <ul class="header-list list">
        <li class="header-list-item">
          <a class="header-list-link link" href="./about.html">About us</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link link" href="./catalog.html">Catalog</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link link" href="./sale.html">Sale</a>
        </li>
      </ul>
    </nav>
    <a class="header-tel link" href="tel:+380684439426">+380 (68) 443-94-26</a>

    <button type="button" class="menu-btn" data-menu-open>
      <svg class="icon-menu" width="24" height="24">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <!-- MOBILE MENU
      <div class="mobile-menu" data-menu>
        <div class="container mobile-menu-container">
          <button type="button" class="close-btn" data-menu-close>
            <svg class="menu-close-icon" width="8" height="8">
              <use href="./images/sprite.svg#icon-close-icon"></use>
            </svg>
          </button>

          <ul class="mobile-menu-list list">
            <li class="mobile-menu-item">
              <a class="mobile-menu-link link" href="./index.html">Studio</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link link" href="./portfolio.html"
                >Portfolio</a
              >
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link link" href="">Contacts</a>
            </li>
          </ul>

          <address class="mobile-menu-address">
            <ul class="mobile-contacts list">
              <li class="mobile-contacts-item">
                <a
                  class="mobile-contacts-link tel link"
                  href="tel:+110001111111"
                  >+11 (000) 111-11-11</a
                >
              </li>
              <li class="mobile-contacts-item">
                <a
                  class="mobile-contacts-link email link"
                  href="mailto:info@devstudio.com"
                  >info@devstudio.com</a
                >
              </li>
            </ul>
          </address>

          <ul class="social-list mobile list">
            <li class="social-list-item">
              <a href="" class="social-list-link link">
                <svg class="social-list-icon" width="24" height="24">
                  <use href="./images/sprite.svg#icon-inst"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a href="" class="social-list-link link">
                <svg class="social-list-icon" width="24" height="24">
                  <use href="./images/sprite.svg#icon-twit"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a href="" class="social-list-link link">
                <svg class="social-list-icon" width="24" height="24">
                  <use href="./images/sprite.svg#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a href="" class="social-list-link link">
                <svg class="social-list-icon" width="24" height="24">
                  <use href="./images/sprite.svg#icon-in"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div> -->
</header>
