<!--Header-->
<header class="header">
  <div class="header-container container">
    <nav class="navigation">
      <div class="logo-container">
        <a href="./index.html" class="header-logo">
          <img class="header-logo-img" src="./img/logo.svg" alt="company logo"
        /></a>
        <a class="company-name link" href="./index.html">thewatchspot</a>
      </div>

      <ul class="header-list list">
        <li class="header-list-item">
          <a class="header-list-link link" href="#about">About us</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link link" href="#catalog">Catalog</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link link" href="#sale">Sale</a>
        </li>
      </ul>
    </nav>
    <a class="header-tel link" href="tel:+380684439426">+380 (68) 443-94-26</a>

    <button type="button" class="menu-btn data-menu-open">
      <svg class="icon-menu" width="24" height="24">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
