<section class="hero">
  <div class="hero-container container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <div class="hero-slider">
      <div class="swiper myswiper">
        <div class="slider-list swiper-wrapper">
          <div class="slider-item swiper-slide">
            <picture>
              <source
                srcset="/img/slider-1-1x.webp 1x, /img/slider-1-2x.webp 2x"
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/slider-mob-1-1x.webp 1x,
                  /img/slider-mob-1-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />
              <img src="/img/slider-1-1x.jpg" alt=" watch " width="436" />
            </picture>
          </div>
          <div class="slider-item swiper-slide">
            <picture>
              <source
                srcset="/img/slider-2-1x.webp 1x, /img/slider-2-2x.webp 2x"
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/slider-mob-2-1x.webp 1x,
                  /img/slider-mob-2-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />
              <img src="/img/slider-2-1x.jpg" alt=" watch " width="436" />
            </picture>
          </div>
          <div class="slider-item swiper-slide">
            <picture>
              <source
                srcset="/img/slider-3-1x.webp 1x, /img/slider-3-2x.webp 2x"
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/slider-mob-3-1x.webp 1x,
                  /img/slider-mob-3-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />
              <img src="/img/slider-3-1x.jpg" alt=" watch " width="436" />
            </picture>
          </div>
          <div class="slider-item swiper-slide">
            <picture>
              <source
                srcset="/img/slider-4-1x.webp 1x, /img/slider-4-2x.webp 2x"
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/slider-mob-4-1x.webp 1x,
                  /img/slider-mob-4-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />
              <img src="/img/slider-4-1x.jpg" alt=" watch " width="436" />
            </picture>
          </div>
          <div class="slider-item swiper-slide">
            <picture>
              <source
                srcset="/img/slider-5-1x.webp 1x, /img/slider-5-2x.webp 2x"
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/slider-mob-5-1x.webp 1x,
                  /img/slider-mob-5-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />
              <img src="/img/slider-5-1x.jpg" alt=" watch " width="436" />
            </picture>
          </div>
        </div>
        <div class="swiper-buttons">
          <div class="button-next swiper-button-prev"></div>
          <div class="button-prev swiper-button-next"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>

    <div class="hero-img">
      <picture>
        <source
          srcset="/img/hero-1x.webp 1x, /img/hero-2x.webp 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="/img/hero-tab-1x.webp 1x, /img/hero-tab-2x.webp 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="/img/hero-mob-1x.webp 1x, /img/hero-mob-2x.webp 2x"
          media="(max-width: 767px)"
        />
        <img
          src="/img/hero-tab-1x.webp"
          alt="photo of watch on hand"
          width="704"
        />
      </picture>
    </div>
  </div>
  <a href="#" class="scroll-to-top"></a>
</section>
