<div class="mobile-meny is-hidden" data-menu>
  <div class="container-mobile-meny">
    <div class="logo-container">
      <a href="./index.html" class="header-logo">
        <img class="header-logo-img" src="./img/logo.png" alt="company logo"
      /></a>
      <a class="company-name link" href="./index.html">thewatchspot</a>
    </div>
    <button type="button" class="mobile-meny-close-btn" data-menu-close>
      <svg class="mobile-meny-close-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="mobil-meny-box">
      <ul class="mobil-meny-list list">
        <li class="mobile-meny-nav-item">
          <a class="mobile-meny-nav-link link menu-link" href="#about"
            >About us</a
          >
        </li>
        <li class="mobile-meny-nav-item">
          <a class="mobile-meny-nav-link link menu-link" href="#catalog"
            >Catalog</a
          >
        </li>
        <li class="mobile-meny-nav-item">
          <a class="mobile-meny-nav-link link menu-link" href="#sale">Sale</a>
        </li>
      </ul>
    </div>
  </div>
</div>
