<section class="new-watches-section">
  <div class="container new-watches-container">
  <p class="new-watches-paragraf">New watches</p>
  <h2 class="new-watches-title">Green And Bronze—The Match Made In Heaven</h2>
  <ul class="new-watches-list">
    <li class="new-watches-item">
      <picture class="new-watches-image">
        <source         
        srcset="./img/new-watches-1-1x.webp 1x, ./img/new-watches-1-2x.webp 2x"
        media="(min-width: 1280px)"
        />
        <source 
        srcset="./img/new-watches-1-1x.jpg 1x, ./img/new-watches-1-2x.jpg 2x"       
        media="(min-width: 1280px)"
        /> 
        <source         
        srcset="./img/new-watches-tab-1-1x.webp 1x, ./img/new-watches-tab-1-2x.webp 2x"
        media="(min-width: 767px)"
        />       
        <source 
        srcset="./img/new-watches-tab-1-1x.jpg 1x, ./img/new-watches-tab-1-2x.jpg 2x"        
        media="(min-width: 767px)"
        />
        <source         
        srcset="./img/new-watches-mob-1-1x.webp 1x, ./img/new-watches-mob-1-2x.webp 2x"
        media="(min-width: 370px)"
        />
        <source 
        srcset="./img/new-watches-mob-1-1x.jpg 1x, ./img/new-watches-mob-1-2x.jpg 2x"        
        media="(min-width: 370px)"
        />        
      <img src="./img/new-watches-1-1x.jpg" alt="new-watches-1" class="picture-watches-item" width="335" height="260"/>
      </picture>
    </li>
    <li class="new-watches-item">
      <picture class="new-watches-image">
        <source         
        srcset="./img/new-watches-2-1x.webp 1x, ./img/new-watches-2-2x.webp 2x"
        media="(min-width: 1280px)"
        />
        <source 
        srcset="./img/new-watches-2-1x.jpg 1x, ./img/new-watches-2-2x.jpg 2x"        
        media="(min-width: 1280px)"
        />
        <source         
        srcset="./img/new-watches-tab-2-1x.webp 1x, ./img/new-watches-tab-2-2x.webp 2x"
        media="(min-width: 767px)"
        />
        <source 
        srcset="./img/new-watches-tab-2-1x.jpg 1x, ./img/new-watches-tab-2-2x.jpg 2x"        
        media="(min-width: 767px)"
        />
        <source         
        srcset="./img/new-watches-mob-2-1x.webp 1x, ./img/new-watches-mob-2-2x.webp 2x"
        media="(min-width: 370px)"
        /> 
        <source 
        srcset="./img/new-watches-mob-2-1x.jpg 1x, ./img/new-watches-mob-2-2x.jpg 2x"        
        media="(min-width: 370px)"
        />               
      <img src="./img/new-watches-2-1x.jpg" alt="new-watches-2" class="picture-watches-item" width="335" height="260"/>
      </picture>
    </li>
  </ul>
  </div>
</section>

