<section class="sale section" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-wrap">
      <div class="sale-gallery">
        <ul class="sale-gallery-list">
          <li class="sale-gallery-item">
            <picture>
              <source
                srcset="
                  ./img/sale-mob-1-1x.webp 1x,
                  ./img/sale-mob-1-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />
              <source
                srcset="./img/sale-1-1x.webp 1x, ./img/sale-1-2x.webp 2x"
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/sale-mob-1-1x.jpg 1x, ./img/sale-mob-1-2x.jpg 2x"
                type="image/jpg"
                media="(max-width: 767px)"
              />
              <source
                srcset="./img/sale-1-1x.jpg 1x, ./img/sale-mob-1-2x.jpg 2x"
                type="image/jpg"
                media="(min-width: 768px)"
              />
              <img src="./img/sale-mob-1.jpg" alt="watch front view" />
            </picture>
          </li>
          <li class="sale-gallery-item">
            <picture>
              <source
                srcset="
                  ./img/sale-mob-2-1x.webp 1x,
                  ./img/sale-mob-2-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />
              <source
                srcset="./img/sale-2-1x.webp 1x, ./img/sale-2-2x.webp 2x"
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/sale-mob-2-1x.jpg 1x, ./img/sale-mob-2-2x.jpg 2x"
                type="image/jpg"
                media="(max-width: 767px)"
              />
              <source
                srcset="./img/sale-2-1x.jpg 1x, ./img/sale-mob-2-2x.jpg 2x"
                type="image/jpg"
                media="(min-width: 768px)"
              />
              <img src="./img/sale-mob-2.jpg" alt="watch side view" />
            </picture>
          </li>
          <li class="sale-gallery-item">
            <picture>
              <source
                srcset="
                  ./img/sale-mob-3-1x.webp 1x,
                  ./img/sale-mob-3-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />
              <source
                srcset="./img/sale-3-1x.webp 1x, ./img/sale-3-2x.webp 2x"
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/sale-mob-3-1x.jpg 1x, ./img/sale-mob-3-2x.jpg 2x"
                type="image/jpg"
                media="(max-width: 767px)"
              />
              <source
                srcset="./img/sale-3-1x.jpg 1x, ./img/sale-mob-3-2x.jpg 2x"
                type="image/jpg"
                media="(min-width: 768px)"
              />
              <img src="./img/sale-mob-3.jpg" alt="watch rear view" />
            </picture>
          </li>
          <li class="sale-gallery-item">
            <picture>
              <source
                srcset="
                  ./img/sale-mob-4-1x.webp 1x,
                  ./img/sale-mob-4-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />
              <source
                srcset="./img/sale-4-1x.webp 1x, ./img/sale-4-2x.webp 2x"
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/sale-mob-4-1x.jpg 1x, ./img/sale-mob-4-2x.jpg 2x"
                type="image/jpg"
                media="(max-width: 767px)"
              />
              <source
                srcset="./img/sale-4-1x.jpg 1x, ./img/sale-mob-4-2x.jpg 2x"
                type="image/jpg"
                media="(min-width: 768px)"
              />
              <img src="./img/sale-mob-4.jpg" alt="watch zoom view" />
            </picture>
          </li>
        </ul>
        <picture class="sale-gallery-full">
          <source
            srcset="
              ./img/sale-mob-full-1x.webp 1x,
              ./img/sale-mob-full-2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/sale-full-1x.webp 1x, ./img/sale-full-2x.webp 2x"
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/sale-mob-full-1x.jpg 1x,
              ./img/sale-mob-full-2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/sale-full-1x.jpg 1x, ./img/sale-mob-full-2x.jpg 2x"
            type="image/jpg"
            media="(min-width: 768px)"
          />
          <img src="./img/sale-mob-full.jpg" alt="watch full view" />
        </picture>
      </div>
      <ul class="sale-desc-list">
        <li class="sale-desc-item">
          <h3 class="sale-watch-model">Greenlane Watch By Police For MenHT</h3>
          <p class="sale-text">Product tag: PEWJK2227003</p>
          <p class="sale-price">€700<span class="full-price">€1000</span></p>
        </li>
        <li class="sale-desc-item">
          <h4 class="sale-watch-desc">Description</h4>
          <p class="sale-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </li>
        <li class="sale-desc-item">
          <h4 class="sale-watch-desc">DETAILS & FEATUREStion</h4>
          <p class="sale-text">
            Gender: man <br />
            Size: 46x54.5mm <br />
            Case Colour: Steel <br />
            Band Material: Metal <br />
            Case Material: Metal <br />
            Features: Multifunction <br />
            Water Resistant: 5 (ATM) <br />
            Band Colour: Steel
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
