.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--color-dark-green);
  margin-bottom: 40px;
}
.catalog-wrapper {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.catalog-grid-item-name {
  max-width: 276px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-black);
  margin-top: 14px;
  margin-bottom: 4px;
}
.catalog-grid-item-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}
.catalog-btn {
  display: flex;
  margin-left: auto;
  color: var(--color-white);
  background-color: var(--color-dark-green);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  min-width: 108px;
  padding: 14px 28px;
  border: 1px solid var(--color-white);
  border-radius: 8px;
}
.catalog-btn:hover,
.catalog-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid green;
}

@media screen and (min-width: 768px) {
  .catalog-btn {
    min-width: 122px;
    padding: 18px 35px;
  }
  .catalog-title {
    margin-bottom: 64px;
  }
  .catalog-grid-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 32px;
  }
  .catalog-title {
    font-size: 40px;
    line-height: 1.1;
    color: var(--color-dark-green);
  }
}
@media screen and (max-width: 1279px) {
  .desk-item {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .catalog {
    background-color: rgba(251, 251, 251, 1);
  }
  .catalog-wrapper {
    gap: 80px;
  }
  .catalog-grid-list {
    gap: 64px 24px;
  }
}
