.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--color-dark-green);
  margin-bottom: 40px;
}
.catalog-wrapper {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.catalog-grid-item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 276px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-black);
  margin-top: 14px;
  margin-bottom: 4px;
}
.catalog-grid-item-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}
.catalog-btn {
  display: flex;
  margin-left: auto;
  color: var(--color-white);
  background-color: var(--color-dark-green);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  min-width: 108px;
  padding: 14px 28px;
  border: 1px solid var(--color-white);
  border-radius: 8px;
  transition: transform 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.catalog-btn:hover,
.catalog-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .catalog-btn {
    min-width: 122px;
    padding: 18px 35px;
  }
  .catalog-title {
    margin-bottom: 64px;
  }
  .catalog-grid-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 32px;
  }
  .catalog-title {
    font-size: 40px;
    line-height: 1.1;
    color: var(--color-dark-green);
  }
}
@media screen and (max-width: 1279px) {
  .desk-item {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .catalog {
    background-color: rgba(251, 251, 251, 1);
  }
  .catalog-wrapper {
    gap: 80px;
  }
  .catalog-grid-list {
    gap: 64px 24px;
  }
}

.flip {
  padding: 40px;
  background-color: #1e2827;
  border: 1px solid #141414;
  border-radius: 8px;
  max-width: 210px;
}
@media screen and (min-width: 1280px) {
  .flip {
    padding: 20px;
  }
}

.flip-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 10px;
}
.descr {
  margin-bottom: 14px;
  max-width: 200px;
}
.flip-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #ffffff80;
}
/* .flip {
  width: 335px;
  height: 360px;
} */
/* @media screen and (min-width: 768px) {
  .flip {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .flip {
    width: 276px;
    height: 325px;
  }
} */

/*  */
.overlay {
  position: relative;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 335px;
  height: 360px; */
}
@media screen and (max-width: 768px) {
  .overlay {
    transform: translate(-50%, 0%);
  }
}
.overlay .img-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.overlay .img-box img {
  width: 100%;
  transition: 0.5s;
}
.overlay:hover .img-box img {
  opacity: 0.5;
  transform: translateX(30%); /*100%*/
}
.overlay .flip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /*100%*/
  height: 100%;
  background: #1e2827;
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.overlay:hover .flip {
  transform: perspective(2000px) rotateY(0deg);
}
.overlay .flip .card {
  background: #1e2827;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card {
  max-width: 236px;
}
