.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 29px;
}

.header-container {
  display: flex;
  align-items: center;
  height: 24px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-img {
  width: 14px;
  height: 14px;
}

.company-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--color-white);
}

.menu-btn {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.icon-menu {
  fill: var(--color-white);
}

.header-list,
.header-tel {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header {
    margin-top: 20px;
  }

  .header-container {
    width: 100%;
    height: 48px;
  }

  .menu-btn {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: flex-start;
  }

  .header-logo-img {
    width: 19px;
    height: 19px;
  }

  .company-name {
    font-size: 15px;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 80px;
  }

  .header-list-link {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--color-white);
  }

  .header-tel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 48px;
    background-color: #1e2827;
    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.33;
    color: var(--color-white);
    margin-left: auto;
  }

  .header-tel:hover,
  .header-tel:focus {
    border-color: var(--color-white);
  }